<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Using instance variables</title>
</head>
<body>
<% @jumps.each do |hub, jumps| %>
  <p><%= hub %>: <%= jumps %> </p><br>
  <% end %>
</body>
</html>